*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;

}


body{

background:
linear-gradient(
135deg,
#e8f2ff,
#ffffff
);

}



.top-header{

background:
linear-gradient(
90deg,
#0B4FA2,
#1e88e5
);

color:white;

padding:30px;

text-align:center;

}



.top-header nav{

margin-top:20px;

}


.top-header a{

color:white;

text-decoration:none;

margin:15px;

font-weight:600;

}



.dashboard{

padding:40px;

text-align:center;

}


.subtitle{

color:#666;

margin-bottom:30px;

}



.cards{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(250px,1fr));

gap:25px;

}



.card{

padding:30px;

border-radius:20px;

color:white;

box-shadow:
0 15px 30px rgba(0,0,0,.15);

transition:.3s;

}


.card:hover{

transform:translateY(-10px);

}



.icon{

font-size:45px;

}



.card h3{

margin:15px 0;

}



.card h1{

font-size:45px;

}



.blue{

background:#0B4FA2;

}


.green{

background:#1b8f4d;

}


.gold{

background:#c79200;

}


.purple{

background:#6a4bc3;

}


.red{

background:#c0392b;

}





.progress-box,
.update-box{

background:white;

margin-top:40px;

padding:30px;

border-radius:20px;

box-shadow:
0 10px 25px rgba(0,0,0,.1);

}



.progress{

height:35px;

background:#ddd;

border-radius:20px;

overflow:hidden;

margin-top:20px;

}



#passBar{

height:100%;

background:#0B4FA2;

color:white;

display:flex;

align-items:center;

justify-content:center;

font-weight:bold;

transition:1s;

}
