body{

margin:0;
padding:40px;
background:#edf4ff;
font-family:Arial;

}

.certificate{

width:1000px;

margin:auto;

background:white;

box-shadow:0 10px 40px rgba(0,0,0,.3);

}

.border{

border:15px solid #004b8d;

padding:50px;

text-align:center;

background:

linear-gradient(white,#f8fbff);

}

h1{

color:#004b8d;

margin:10px;

}

h2{

color:#d35400;

font-size:38px;

}

h3{

color:#222;

}

p{

font-size:20px;

}

.row{

display:flex;

justify-content:space-around;

}

.signatures{

display:flex;

justify-content:space-between;

margin-top:70px;

font-size:18px;

}

button{

padding:15px 35px;

font-size:18px;

background:#004b8d;

color:white;

border:none;

border-radius:8px;

cursor:pointer;

}

button:hover{

background:#0b67bf;

}
